.end-window
  display: flex
  flex-flow: column wrap
  width 100%
  max-width 960px
  min-width 320px
  padding 16px
  align-content: center
  align-items: center

.end-window_image
  width 100%
  max-width 320px

.end-window_title
  opacity: 0.85
  font-size: 24px
  color: #FFFFFF
  letter-spacing: 0.15px
  line-height: 35px
  text-align: center

.end-window_button
  padding: 10px 30px;



@media screen and (min-width: 768px) and (min-height: 1024px) 
  .end-window_image
    max-width 500px
  