.end-window
  display: flex
  flex-flow: column wrap
  width: 960px
  align-content: flex-start
  align-items: center

.end-window_title
  opacity: 0.85
  font-size: 24px
  color: #FFFFFF
  letter-spacing: 0.15px
  line-height: 35px
  text-align: center

.end-window_button
  padding: 10px 30px;