.game-window
  display:flex
  flex-wrap: wrap
  justify-content: space-between
  width: 960px

.game-window_reset-btn
  font-size: 14px
  border: none
  background: none
  color: white
  cursor: pointer
