@import './app';
@import './card';
@import './start-window';
@import './game-window';
@import './game-score';
@import './card-board';
@import './end-window';
@import './button'
* 
  font-family: 'OpenSans-Bold';
  margin: 0;
  padding: 0;