.start-window
  width 100%
  max-width 960px
  min-width 320px
  padding 0 16px
  display: flex
  flex-flow: column wrap
  align-items: center
  align-content: center

.start-window_image
  width 100%
  max-width 320px

.start-window_title
  color: rgba(255,255,255, .85)
  margin: 20px 0

.start-window_button
  margin: 10px 20px

@media screen and (min-width: 768px) and (min-height: 1024px) 
  .start-window_image
    max-width 500px
  