.start-window
  width 960px
  display: flex
  flex-flow: column wrap
  align-items: center
  align-content: center

.start-window_title
  color: rgba(255,255,255, .85)
  margin: 20px 0

.start-window_button
  margin: 10px 20px
  